<header [ngClass]="{'scrolled': isScrolled}">
    <div class="container">
        <div class="child">
            <img id="logo-image" src="https://upload.wikimedia.org/wikipedia/commons/1/15/Santos_Logo.png" alt="Logo">
        </div>
        <div class="child">
            <ul>
                <li class="active">Home</li>
                <li>Em Alta</li>
                <li>Notícias</li>
            </ul>
        </div>
        <div class="child">
            <div id="profile-button">
                <img src="https://stcotvfoco.com.br/2023/12/Neymar-jogando-no-Santos.jprg_.jpg" alt="Profile">
            </div>
        </div>
    </div>
</header>