.content-block{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1vh;
    
    h3{
        font-weight: 500;
    }
    
    &.type-1{
        h3{
            font-size: 5vh;
        }
    }
    
    &.type-2{
        h3{
            font-size: 4vh;
        }
    }
    
    p{
        color: grey;
        margin-bottom: 1vh;
        font-size: 1.8vh;
    }
}