<div class="main-container">
	<div class="child-container">
		<div class="content-container">
			<div class="content-header">
				<h4 id="info">Brasileirão B · <span>19h</span></h4>
				<h1 id="title">O Peixão Está de Volta à Elite do Futebol Brasileiro</h1>
				<p id="subtitle">
					Após uma campanha impecável, o Santos sela seu retorno à elite do futebol brasileiro, confirmando sua força e tradição no cenário nacional.
				</p>
				<div class="btn">
					<a [routerLink]="['article', postId]">Leia mais</a>
				</div>
			</div>
			<div class="content-author">
				<div class="author-child-container">
					<div id="image-profile-container">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzZG9qeI4ZwjYjPQc2XUkiO579ITavpcSvWQ&s" alt="Image">
					</div>
				</div>
				<div class="author-child-container">
					<p>Escrito por</p>
					<h4>Ariel Van Houten</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="child-container">
		<video id="video" controls autoplay muted loop>
			<source src="santos.mp4" type="video/mp4">
			Seu navegador não suporta o elemento de vídeo.
		</video>
	</div>
</div>
<div *ngIf="notStarted" id="pop-up" (click)="playVideo()">
	<p>Reproduzir vídeo</p>
</div>
