<div class="main-container">
	<div class="child-container">
		<div class="content-container">
			<div class="content-header">
				<h4 id="info">Brasileirão B · <span>19h</span></h4>
				<h1 id="title">O Peixão Está de Volta à Elite do Futebol Brasileiro</h1>
				<p id="subtitle">
					Após uma campanha impecável, o Santos sela seu retorno à elite do futebol brasileiro, confirmando sua força e tradição no cenário nacional.
				</p>
				<button>Leia mais</button>
			</div>
			<div class="content-author">
				<div class="author-child-container">
					<div id="image-profile-container">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzZG9qeI4ZwjYjPQc2XUkiO579ITavpcSvWQ&s" alt="Image">
					</div>
				</div>
				<div class="author-child-container">
					<p>Escrito por</p>
					<h4>Ariel Van Houten</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="child-container">
		<img
		src="https://objectstorage.sa-saopaulo-1.oraclecloud.com/n/grsa9ybqykir/b/portalcbf/o/CYMERA_20241116_203650.jpg"
		alt="Vila Belmiro"
		/>
	</div>
</div>
