.main-container{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 15vh 15vw 0 15vw;
    justify-content: center;
    align-items: flex-start;
    
    .content-container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding-bottom: 15vh;
        
        .header{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            gap: 2vh;
            
            #info{
                position: relative;
                display: flex;
                width: fit-content;
                height: fit-content;
                justify-content: center;
                align-items: center;
                gap: 1vw;
                
                p{ 
                    font-size: 2vh;
                    color: rgb(64, 107, 42);;
                    &:nth-child(1){
                        background-color: rgb(219, 255, 201);
                        border-radius: 20px;
                        padding: .5em 1em;
                    }
                    &:nth-child(2){
                        color: grey;
                    }
                }
            }
            
            h1{
                font-size: 10vh;
                text-align: center;
                font-weight: 500;
                line-height: 11vh;
            }
            
            h5{
                text-align: center;
                font-size: 2.3vh;
                font-weight: 300;
                color: grey;
            }
        }
        
        .main-image-container{
            position: relative;
            display: flex;
            width: 100%;
            background-color: grey;
            margin-top: 7vh;
            margin-bottom: 4vh;
            aspect-ratio: 16 / 9;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .content-block{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 1vh;
            
            h3{
                font-weight: 500;
            }
            
            &.type-1{
                h3{
                    font-size: 5vh;
                }
            }
            
            &.type-2{
                h3{
                    font-size: 4vh;
                }
            }
            
            p{
                color: grey;
                margin-bottom: 1vh;
                font-size: 1.8vh;
            }
        }
    }
}