<section class="main-container">
    <div class="content-container">
        <app-article-header 
        [title]="title" 
        [subtitle]="subtitle" 
        [date]="date"
        [isPopular]="isPopular"></app-article-header>
        <app-article-image [imgSrc]="imageSrc"></app-article-image>
        <app-article-content-block *ngFor="let block of content"
        [cardType]="block.type"
        [title]="block.title" 
        [contents]="block.texts"></app-article-content-block>
    </div>
</section>
