.main-container{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 15vh 15vw 0 15vw;
    justify-content: center;
    align-items: flex-start;
    
    .content-container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding-bottom: 15vh;    
    }
}